[submodule "FYJBusinessModules"]
	path = FYJBusinessModules
	url = https://github.com/DuanJiaHuan/FYJBusinessModules.git
[submodule "DJHCommonCore"]
	path = DJHCommonCore
	url = https://github.com/DuanJiaHuan/DJHCommonCore.git
