[submodule "DJHCommonCore"]
	path = DJHCommonCore
	url = https://github.com/DuanJiaHuan/DJHCommonCore.git
[submodule "DJHBusinessModules"]
	path = DJHBusinessModules
	url = https://github.com/DuanJiaHuan/DJHBusinessModules.git
